@page "/user"
@using DataAccessLibrary;
@using DataAccessLibrary.DAOS;
@using DataTemplateLibrary.Models;
@using SessionService;
@inject CookieService.CookieManager Cookies;
@inject ServerManagement.ServerManager ServerManager;
@inject NavigationManager NavManager;


<div class="block" >
    <h3>@ClientUser.Name</h3>
    <br/>
    <h3>@ClientUser.CurrentCredits K</h3>
    <a href="user/credit"><button>buy more credits</button></a>
</div>
<br />

<a href="user/create"><button>create new service</button></a>

<div class="services-wrapper">
</div>

@code {
    public DBUser ClientUser { get; set; } = new DBUser("","");
    public LoginService.LoginManager LoginManager { get; set; }

    protected override async Task OnInitializedAsync(){}

    protected override void OnAfterRender(bool firstRender)
    {
        LoginManager = new LoginService.LoginManager(Cookies, ServerManager);
        CheckLoggedIn();
    }

    private async void CheckLoggedIn()
    {
        //kickes user if not signed in
        if (!await LoginManager.IsLoggedIn())
        {
            NavManager.NavigateTo("/login");
        } else {
            ClientUser = ServerManager.GetUserBySessionId(new SessionService.SessionTemplate_Creater.SessionId(LoginManager.SessionID));
            StateHasChanged();
        }
    }

}

