@page "/user"
@using DataAccessLibrary;
@using DataAccessLibrary.DAOS;
@using DataTemplateLibrary.Models;
@using SessionService;
@inject CookieService.CookieManager Cookies;
@inject ServerManagement.ServerManager ServerManager;
@inject NavigationManager NavManager;


<div class="block" >

    <br/>
    <a href="user/credit"><button>buy more credits</button></a>
</div>
<br />

<a href="user/create"><button>create new service</button></a>

<div class="services-wrapper">
</div>

@code {
    public DBUser ClientUser { get; set; }

    protected async Task OnInitializedAsync()
    {
        //kickes user if not signed in
        if (Cookies.GetSessionCookieInt("userID").Result.Equals(""))
        {
            NavManager.NavigateTo("/login");
        }

    }
}

