@page "/dev/cookies"
@inherits CookieTestPage;
@using CookieService;
@inject CookieManager cookieManager;

<PageTitle>Cookie Test</PageTitle>

<h1>Hello, Cookies! 🍪</h1>
Open developer tools and checkout the new cookies.