@page "/dev/login"
@inherits LoginTestPage;

<p>Logged in: @LoginManager?.LoggedIn</p>
<button @onclick=Login>Log in</button>
<button @onclick=Logout>Log out</button>

<h3>SESSIONID: @LoginManager?.SessionID</h3>
<h3>USERID: @LoginManager?.UserID</h3>