@inherits LayoutComponentBase

<PageTitle>Fiverro</PageTitle>

<Theme />
<LoginComponent />

<div class="site-wrapper">
    <Header />
    <div class="content-wrapper">
        @Body
    </div>
    <Footer />
</div>