@page "/"
@using DataAccessLibrary
@using DataTemplateLibrary
@using DataTemplateLibrary.Models;
@using ServerManagement;
@using LoginService;
@inject NavigationManager NavManager;
@inject ServerManager ServerManager;
@inject LoginManager loginManager;

<PageTitle>Home</PageTitle>
<div class="page">
    <Services />

</div>

@code {
    bool logged = false;
    public void Login()
    {
        logged = loginManager.LoggedIn;
        StateHasChanged();
    }
}
