@page "/market"

<h3>Market</h3>
<br />
<br />
<h3>your credits</h3>
<big style="color:green;">@Credits ₭</big>
<br />
<br />
<ServisPreviewLayout Owner = "false"/>

@code {
    private int Credits = 100;
}
