@page "/service/{ServiceID:int}"
@inherits ServicePage;

<h3>@ServiceName</h3>
<h2>@ServicePrice ₭</h2>
<p>@ServiceDescription</p>
<br />
<p>created on @ServiceCreation.ToString() by /TODO: add name</p>