@page "/services";
@using DataAccessLibrary;
@using DataAccessLibrary.DAOS;
@using DataTemplateLibrary.Models;
@inject DBManager dbManager;

<div class="services-wrapper">
    @foreach(DBService service in new ServiceDAO().GetAll())
    {
        <ServiceCard service=@service/>
    }
</div>

@code {

}