@page "/user"
@using DataAccessLibrary;
@using DataAccessLibrary.DAOS;
@using DataTemplateLibrary.Models;
@using SessionService;
@inject DBManager dbManager;
@inject MyIdService IdService;
@inject NavigationManager NavManager;


<div class="block" >

    <h2>@IdService.User.Name</h2>
    <br />
    <h3>@IdService.User.CurrentCredits K</h3>
    <a href="user/credit"><button>buy more credits</button></a>
</div>
<br />

<a href="user/create"><button>create new service</button></a>

<div class="services-wrapper">
    @foreach (DBService service in new ServiceDAO().GetAll())
    {
        if (service.UserId == IdService.User.ID)
        {
            <ServiceCard service=@service />
        }
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        //kickes user if not signed in
        if (IdService.id.Id.Equals(""))
        {
            NavManager.NavigateTo("/login");
        }
    }
}

