@page "/user"

<div class="block" >

    <h2 id="name" >Name</h2>
    <br />
</div>
<br />

<h3>your credits</h3>
<big style="color:green;">@Credits ₭</big>
<br />
<a href="/user/credit"><button>buy more</button></a>
<br />
<br />

<small>your servises:</small>

<ServisPreviewLayout Owner = "true"/>

@code {
    private int Credits = 100;
}

