@page "/user"
@using DataAccessLibrary;
@using DataAccessLibrary.DAOS;
@using DataTemplateLibrary.Models;
@using SessionService;
@inject CookieService.CookieManager cookies;
@inject DBManager dbManager;
@inject NavigationManager NavManager;


<div class="block" >

    <h2>@dbManager.GetUser(cookies.GetCookieInt("userID").Result)</h2>
    <br />
    <h3>@dbManager.GetUser(cookies.GetCookieInt("userID").Result).CurrentCredits K</h3>
    <a href="user/credit"><button>buy more credits</button></a>
</div>
<br />

<a href="user/create"><button>create new service</button></a>

<div class="services-wrapper">
    @foreach (DBService service in new ServiceDAO().GetAll())
    {
        if (service.UserId == dbManager.GetUser(cookies.GetSessionCookieInt("userID").Result).ID)
        {
            <ServiceCard service=@service />
        }
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        //kickes user if not signed in
        if (cookies.GetSessionCookieInt("userID").Result.Equals(""))
        {
            NavManager.NavigateTo("/login");
        }
    }
}

