@page "/user"
@using DataAccessLibrary;
@using DataAccessLibrary.DAOS;
@using DataTemplateLibrary.Models;
@using SessionService;
@inject DBManager dbManager;
@inject NavigationManager NavManager;


<div class="block" >

    <a href="user/credit"><button>buy more credits</button></a>
</div>
<br />

<a href="user/create"><button>create new service</button></a>

<div class="services-wrapper">
</div>

@code {

    protected async Task OnInitializedAsync()
    {
        //kickes user if not signed in
    }
}

